{% extends 'base.html.twig' %}

{% block title %}
  Réinitialiser le mot de passe
{% endblock %}

{% block main %}
  <section class="flex items-center justify-center w-full h-[100vh]">
    <div class="flex flex-col lg:flex-row w-11/12 sm:w-2/3 lg:w-2/3 border-2 border-opacity-50 rounded-lg">
      <div class="registration w-full lg:w-1/2 aspect-[3/2] bg-cover bg-center bg-no-repeat"></div>
      <div class="flex flex-col gap-5 w-full lg:w-1/2 p-7 lg:py-12 lg:px-10 bg-slate-100">
        <h3 class="font-poppins text-2xl border-5 font-medium">Réinitialiser le mot de passe</h3>
        <form method="post" class="flex flex-col gap-5 w-full">
          {% for message in app.flashes('error') %}
            <div class="bg-red-100 border border-red-400 text-red-700 p-4 rounded mb-4">{{ message }}</div>
          {% endfor %}

          <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Nouveau mot de passe</label>
            <input type="password" name="password" id="password" autocomplete="new-password" required class="mt-1 block w-full border border-gray-300 rounded p-2" placeholder="Nouveau mot de passe" />
          </div>

           <div>
            <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirmer le mot de passe</label>
            <input type="password" name="confirm_password" id="confirm_password" autocomplete="new-password" required class="mt-1 block w-full border border-gray-300 rounded p-2" placeholder="Confirmer le mot de passe" />
          </div>

          <button type="submit" class="text-center bg-off-blue text-off-white py-3 hover:bg-dark-gray">Réinitialiser</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}