<ul class="flex flex-col items-center justify-center h-full">
  <li class="mb-6">
    <a href="#" class="text-off-blue text-2xl">Accueil</a>
  </li>
  <li class="mb-6">
    <a href="/#contact" class="text-off-gray text-2xl">Contact</a>
  </li>

  {% if app.user %}
    <li class="mb-6">
      <a href="{{ path('app_patient_profile') }}" class="text-off-gray text-2xl">Mon Compte</a>
    </li>
    <li class="mb-6">
      <a href="{{ path('app_logout') }}" class="bg-dark-blue text-white py-2 px-4 rounded hover:bg-off-blue text-[16px]">Déconnexion</a>
    </li>
    {% else %}
    <li class="mb-6"> 
      <a href="{{ path('app_login') }}" class="bg-dark-blue text-white py-2 px-4 rounded hover:bg-off-blue text-[16px]">Se connecter</a>
    </li>  
  {% endif %}
</ul>
