<nav class="w-full font-poppins">
  <ul class="flex gap-10 justify-end">
    <li class="active">
      <a href="{{ path('app_home') }}" class="text-off-gray hover:text-off-blue font-bold text-[16px]">Accueil</a>
    </li>
    <li>
      <a href="#contact" class="text-off-gray hover:text-off-blue font-bold text-[16px]">Contact</a>
    </li>

    <li class="flex justify-end">
      <div>
        {% if app.user %}
          <a href="{{ path('app_logout') }}" class="bg-dark-blue text-white py-2 px-4 rounded hover:bg-off-blue text-[16px]">Déconnexion</a>
        {% else %}
          <a href="{{ path('app_login') }}" class="bg-dark-blue text-white py-2 px-4 rounded hover:bg-off-blue text-[16px]">Se connecter</a>
        {% endif %}
      </div>
    </li>
  </ul>
</nav>
