<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Plateforme de réservation médicale et de médecins. Profitez d'une interface intuitive pour prendre rendez-vous en toute simplicité et en toute sécurité.">
        <meta name="keywords" content="réservation médicale, médecins, prise de rendez-vous, soins de santé, plateforme médicale">
        <meta name="author" content="Ahmed AL-OBEIDI">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{% block title %}SantéRézo - Réservation médicale{% endblock %}</title>

        <!-- Favicon -->
        <link rel="icon" href="{{ asset('img/favicon.png') }}" />

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet" />

        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
